
네트워크 : 통신

-- 어떤 데이터를 Local database에만 저장하게 되면 한계가 있다.
1. 동기화 어렵다. (핸드폰, 태블릿)

--> 서버와 통신하는 방법
- 해당 URL이나 URI로 요청한다.
- 나의 인증정보를 보낸다.
- Json 형식을 사용해서 데이터를 보낸다.

Json 형식
- [] --> list 계열
- {} --> 객체 Object

Json Parsing
- json 형식의 문자열을 코틀린이나 자바가 이해할 수 있게 변형하는 과정

Serializable - 직렬화
- 자바 시스템 내부에서 사용할 수 있도록 Object 타입을 byte 형태로 데이터를 변경하는 것.

Request Type
- GET : 정보를 요청하는 방식
- POST : 정보 추가 요청
- DELETE : 정보 삭제 요청
- PUT : 정보 수정 요청 (PUT - 필드 일부만 전달 할 경우, 전달한 필드 외 모두 null처리 된다 또는 초기값처리 됨)
- PATCH : 정보 수정 요청 (자원에 부분만 교체를 할 때는 원래 PATCH를 사용. 교체시 일부만 전달하면 다른 필드들은 상관이 없다.)

스레드끼리 직접 데이터 주고받기 안드로이드에서 안됨. 스레드 통신이 필요함.
--> 핸들러를 통해서 전달하고, 전달받을 수 있음.

실무에서는 레트로핏을 사용하여 통신함.
